In [24]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [11]:
mapa = {'home':'principal','how_it_works':'como_funciona','contact':'contato','bought':'comprado'}
dados = dados.rename(columns = mapa)

In [13]:
x = dados[['principal','como_funciona','contato']]
y = dados['comprado']

    principal  como_funciona  contato
0           1              1        0
1           1              1        0
2           1              1        0
3           1              1        0
4           1              1        0
..        ...            ...      ...
94          0              0        1
95          1              1        1
96          0              0        1
97          0              1        0
98          0              0        0

[99 rows x 3 columns]

In [14]:
dados.shape

(99, 4)

In [15]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   principal      99 non-null     int64
 1   como_funciona  99 non-null     int64
 2   contato        99 non-null     int64
 3   comprado       99 non-null     int64
dtypes: int64(4)
memory usage: 3.2 KB

In [50]:
seed = 42
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.24, random_state=seed,stratify=y)

In [51]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(X_train,y_train)
previsoes = modelo.predict(X_test)
print(f'Acurácia do modelo: {round(accuracy_score(y_test,previsoes),2)*100}%')

Acurácia do modelo: 96.0%

In [52]:
y_train.value_counts()

0    50
1    25
Name: comprado, dtype: int64

In [53]:
y_test.value_counts()

0    16
1     8
Name: comprado, dtype: int64